*{margin:0;padding: 0;box-sizing: border-box;}


#generalContent{
    margin: 0 !important;
}

#divMenuOut{
   margin: 5% auto;
   
}

#divMenuIn{
    padding: 0;
    background-color: #0f3b8c;
    position: sticky;
    top:10%;
}

nav{
    height: 100%;
    padding-left: 15%;
}

.menuListMain li{
    list-style: none;
}
.menuListMain a{
    color: white;
    text-decoration: none;
}
.menuListMain a:hover{
    color: white;
}
h1{
    text-align: center;
}
#logo img{
    width: 25%;
}
#logo{
   text-align: center;
}
main h1{
    margin-top: 25px;
}
main{
    margin: 5%;
}
.imgTA{
    text-align: center;
}

#generalContent section{
    margin-top: 5%;
}

main p{
    text-align: justify;
}
#softwares{
    padding-top: 3%;
}

.videoTutorial{
    border: none;
}

#footer{
    padding: 0;
    margin-top: 30%;
}

footer{
    height: 100%;
}
