#conteudo1{
	background:#f6ffff;
}
#logo{
	width: 100px;
	margin-bottom: -9px;
}
#iconMenu{
	color: #fff;
}
nav a:hover{
	text-decoration: none;
	color:#007bff;
}
#esfumacada{
	background: rgb(0, 0, 0);width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
}
.ful{
	width: 100%;
	height: 100vh; /* dimensiona o slider à altura do viewport */
}
.blocoDrop{
	background: none;
	border: none;
}
.blocoDrop a{
	color: #fff;
}
.blocoDrop a:hover{
	background: none;
	color: #fff;
	text-decoration: underline;
}
#navbarSite ul{
	margin:0 auto;
	text-align: center;
	font-size: 17px;
}
#headerLogo{
	padding-left: 30px;
	text-align: center;
}
#botaoResponsivoMenu{
	border: none;
	padding-right: 30px;
}
#botaoResponsivoMenu img{
	width: 40px;
}
#navabarSite a{
	font-family: Arial,Roleway,Sans-serif;
}

.iconMenu{
	color: #fff;
}
#a1,#a2,#a3,#a4,#a5,#a6{
	animation-name: deslizar;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease;
	-moz-animation-timing-function: ease-in-out;
	animation-fill-mode: backwards;
	visibility: hidden;
}
#a1{
	visibility: visible;
}
#a2{
	animation-delay:0.3s;
	visibility: visible;

}
#a3{
	animation-delay:0.6s;
	visibility: visible;
}
#a4{
	animation-delay:0.9s;
	visibility: visible;
}
#a5{
	animation-delay:1.2s;
	visibility: visible;
}
#a6{
	animation-delay:1.5s;
	visibility: visible;
}

#textoSlide{
	top: 59%;
	font-size: x-large;
	animation-name: deslizarVertical;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
.skewNegative{
	background-color: #ff5555;
	-webkit-transform: skew(-10deg); /* Chrome, Opera */
    -ms-transform: skew(-10deg); /* IE */
    transform: skew(-10deg); /* Padrão */
}

.conteudo1P{
	-webkit-font-family: Courier;
	-moz-font-family: Courier;
	font-family: Courier;
}

#conteudoDiv{
	margin: 0 auto;
}

#conteudo2{
	background-color: #fafafa;
	/*background-image: url("../img/blur3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;*/
}

.myCard{
	border: none;
}
.myCard:hover{
	box-shadow:0px 0px 13px #9f9f9f;
	
}
.myCard i{
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.myCard:hover i{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.cardOutside:hover{
	margin-top: -1px;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	transition-delay: 0s;
	perspective: 600;
	transform-style: preserve-3d;
	 transform: translateZ(100px);
}
.myCard .card-head{
	margin: 0 auto;
}

#conteudo2 i{
	color: #2955a5;
}

#conteudo2 h4{
	font-family: cursive;
}

#conteudo3{
	background-color: #c6c6c6;
}

@keyframes deslizar{
	0%{
		opacity: 0;
		transform: translateX(-28px);
	}
	25%{
		opacity: 0.4
		transform: translateX(-18px);
		visibility: visible;

	}50%{
		opacity: 0.8
		transform: translateX(-8px);
		visibility: visible;

	}100%{
		opacity: 1;
		transform: translateX(0px);
		visibility: visible;
	}
}

@keyframes deslizarVertical{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}to{
		opacity: 1;
		transform: translateY(0px);
	}
}
















